html,body{margin:0;padding:0}

body{font: 76% arial,sans-serif;text-align:center}
p{margin:0 20px 20px}
a{padding:5px; text-decoration:none; color:#000000;}

div#header{background-color:#F3F2ED;}
div#header h1{height:80px;line-height:80px;margin:0;padding-left:10px;}

div#menu a{margin:0;padding:10px 20px}
div#menu{background:#BFBD93;}
div#menu{clear:both;width:100%}

div#footer p{margin:0;padding:10px 20px}
div#footer{background:#BFBD93;}
div#footer{
	clear:both;
	position:absolute;
    bottom:0;
    width:100%;
    height:70px;   
    background:#ccc;
}

