#form-title-row{
    text-align: left;
    margin-bottom: 50px;
    padding-left: 160px;
    color:  #5f5f5f;
}

#h1label{
    color:  #5f5f5f;
}


#btn{
    display: inline-block;
    border-radius: 2px;
    background-color:  #6caee0;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 8px 20px;
    border: 0;
    margin: 1px;
    cursor: pointer;
}

#textbox{
	display: inline-block;
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 230px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 8px 18px;
    border: 1px solid #dbdbdb;
}

#selectbox{
    display: inline-block;
    box-sizing: border-box;
    color:  #5f5f5f;
    width: 230px;
    height: 35px;
    text-align: right;
/*     padding-right: 25px; */
}

#label{
    display: inline-block;
    color:  #5f5f5f;
    width: 140px;
    text-align: right;
    padding: 8px 18px;
    padding-right: 25px;
    font-weight: bold;
}

