<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>20170928_homewok</display-name>
  
  <servlet>
  	<servlet-name>RegistParkService</servlet-name>
	<servlet-class>bs.com.service.RegistParkService</servlet-class>  
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>RegistParkService</servlet-name>
	<url-pattern>/parkregi/RegistParkService</url-pattern>  
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ParkmanageService</servlet-name>
	<servlet-class>bs.com.service.ParkmanageService</servlet-class>  
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ParkmanageService</servlet-name>
	<url-pattern>/parkmanage/ParkmanageService</url-pattern>  
  </servlet-mapping>  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>