<?xml version="1.0" encoding="UTF-8"?>
<Context>
	<Resource name ="jdbc/OracleDB"
			auth="Container"
			driverClassName="oracle.jdbc.driver.OracleDriver"
			type="javax.sql.DataSource"
			url="jdbc:oracle:thin:@localhost:1521:orcl"
			username="naehoon"
			password="1024"
			maxActive="500"
			maxIdle="100"/>
</Context>