<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>test_20170828</display-name>
  
    
  <servlet>
  	<servlet-name>MyServlet01</servlet-name>
  	<servlet-class>bs.test.ServletTest01</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>MyServlet01</servlet-name>
  	<url-pattern>/ServletTest01</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>MyServlet02</servlet-name>
  	<servlet-class>bs.test.ServletTest02</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>MyServlet02</servlet-name>			
  	<url-pattern>/ServletTest02</url-pattern>
  </servlet-mapping>
  
 <servlet>
  	<servlet-name>MyServlet03</servlet-name>
  	<servlet-class>bs.test.ServletTest03</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>MyServlet03</servlet-name>
  	<url-pattern>/ServletTest03</url-pattern>
  </servlet-mapping>  
  
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
<!--     디폴트는 윈도우 서버 계열의 기본 페이지 명이다 -->
    
  </welcome-file-list>
</web-app>